<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>GUI.plist</string>
		<string>backrounds.plist</string>
		<string>zombisprite.plist</string>
		<string>hero.plist</string>
		<string>Darkrun.plist</string>
		<string>oriental.plist</string>
		<string>runright.plist</string>
	</array>
</dict>
</plist>
