<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>runright/Asteroids_128x128_006@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{223, 80}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>runright/Pixel-Alien-2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 54}, {52, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 51}}</string>
			<key>sourceSize</key>
			<string>{52, 51}</string>
		</dict>
		<key>runright/Pixel-Alien-5@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{169, 54}, {52, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 46}}</string>
			<key>sourceSize</key>
			<string>{52, 46}</string>
		</dict>
		<key>runright/obj_Run000-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{210, 114}, {34, 38}}</string>
			<key>offset</key>
			<string>{0, -11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 24}, {34, 38}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run001-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 107}, {27, 38}}</string>
			<key>offset</key>
			<string>{0, -11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 24}, {27, 38}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run002-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{229, 40}, {25, 38}}</string>
			<key>offset</key>
			<string>{1, -11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 24}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run003-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169, 102}, {29, 39}}</string>
			<key>offset</key>
			<string>{0, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17, 23}, {29, 39}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run004-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{30, 107}, {33, 35}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 24}, {33, 35}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run005-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 65}, {27, 37}}</string>
			<key>offset</key>
			<string>{0, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 24}, {27, 37}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run006-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{229, 1}, {26, 37}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20, 24}, {26, 37}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/obj_Run007-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 150}, {29, 38}}</string>
			<key>offset</key>
			<string>{0, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 23}, {29, 38}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>runright/trolley2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 1}, {112, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 51}}</string>
			<key>sourceSize</key>
			<string>{112, 51}</string>
		</dict>
		<key>runright/trolley@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {112, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 62}}</string>
			<key>sourceSize</key>
			<string>{112, 62}</string>
		</dict>
		<key>runright/wheel@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{30, 65}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>runright.png</string>
	</dict>
</dict>
</plist>
