<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tutorial/Gesture_Swipe_Bottom@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 50}, {32, 44}}</string>
			<key>offset</key>
			<string>{7, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 5}, {32, 44}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>tutorial/Gesture_Swipe_Left@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{81, 1}, {43, 32}}</string>
			<key>offset</key>
			<string>{-2, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 15}, {43, 32}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>tutorial/Gesture_Swipe_Right@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 1}, {44, 32}}</string>
			<key>offset</key>
			<string>{2, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 13}, {44, 32}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>tutorial/Gesture_Swipe_Up@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {32, 47}}</string>
			<key>offset</key>
			<string>{5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 1}, {32, 47}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>tutorial.png</string>
	</dict>
</dict>
</plist>
